/* Target selector */
body {
  background-color: lightgrey;
}

header {
  border-bottom: 2px solid black;
  text-align: center;
  background: rgba(128,128,128, 0.5);
  padding-top: 1px;
}


footer {
  position: static;
  bottom: 0px;
  width: 100%;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px;
}

/* ID Selectors */
#aligntext {
  text-align: left;
}

/* Class selectors */
.maincontainer {
  border: solid 2px red;
  height: 100vh;
  text-align: center;
}

.menu {
  border: solid 2px green;
  display: flex;
  flex-direction: column;
  align-self: center;
}
